<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodna Shop - مطعم فودنا</title>
  <!-- Main Template Css File -->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/design-system.css" />
  <link rel="stylesheet" href="/css/rtl-fix.css" />
  <!-- Render All Elements Normally -->
   <!-- Font Awesome Library -->
   <link rel="stylesheet" href="/css/all.min.css" />
   <!-- Remix Icon -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
   <!-- Google fonts -->
   <!-- Cairo -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <!-- Oswald -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/product-page.css">
<link rel="stylesheet" href="/css/chatbot.css">
<link rel="stylesheet" href="/css/feature-user-search.css">

