# Cloudinary configuration
# استخدم هذه القيم في ملف .env الخاص بك أو إعدادات البيئة في الاستضافة
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# أو بدلاً من القيم السابقة يمكنك استخدام CLOUDINARY_URL
CLOUDINARY_URL=
