<%- include("parts/head.ejs") %>
</head>
<body>

<!-- start about us page -->
 <div class="about-us sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
              About Us
        </div>      
        <div class="content-of-sub-pages">
    <a href="../index.html"><span>Home / </span></a>
    <a href="#"><span>About Us</span></a>
</div>
 </div>

<div class="container">
<p><span>Roma Pizza</span> To Go was established in 2006 to serve all Pizza lovers with the use of the freshest and highest quality ingredients.</p>
<p><span>Our mission</span> is to uphold the highest level of quality in all we do, from the quality and origin of our food to our care for the health of our customers and the environment.</p>
<p><span>Today</span>, we continue to bring a taste of the true Italian spirit to our customers with our new pizza recipe featuring all-natural ingredients, including dough made from scratch daily.</p>
<p>FOR ORDER AND CUSTOMER SERVICE CALL <a href="#">15667 <i class="fa-solid fa-phone-volume"></i></a>.</p>
<p>We are open from 11 AM till 3 AM <i class="fa-regular fa-clock"></i>.</p>
    </div>
    <div class="button-container">
  <a href="/home" class="buy-now-btn">Buy Now</a>
</div>
    </div>

<!-- end about us page -->

</body>


</html>