<%- include("parts/head.ejs") %>
</head>

<body>

<!-- start Delivery Policy page -->
 <div class="delivery-policy sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
              Delivery Policy
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>Home / </span></a>
    <a href="/delivery-policy"><span>Delivery Policy</span></a>
</div>
 </div>

<div class="container">
  <p>At <span>Roma To Go Pizza</span>, we prioritize fast, fresh, and accurate delivery to your doorstep.</p>
  <ol>
    <li class="head-of-ordered-list">Delivery Zones
      <ul>
        <li>We currently deliver within selected areas across Cairo. You'll be notified if your location is outside our delivery range.</li>
      </ul>
    </li>
        <li class="head-of-ordered-list">Estimated Delivery Time
          <ul>
            <li>Standard delivery time: 60-90 minute</li>
          </ul>
        </li>
    <li class="head-of-ordered-list"> Peak hours or bad weather may affect delivery time</li>
    <li class="head-of-ordered-list">Delivery Charges
      <ul>
        <li>Delivery fees vary by distance and are shown before checkout.</li>
      </ul>
    </li>
  </ol>

    </div>
    <div class="button-container">
  <a href="/" class="buy-now-btn">Buy Now</a>
</div>
    </div>

<!-- end Delivery Policy page -->

</body>


</html>