<%- include("parts/head.ejs") %>
<%- include("parts/navbar.ejs") %>

<main class="main">

  <!-- Start Slider -->
   <div class="container">
  <div class="swiper mySwiper">
  <div class="slid slides_matc swiper-wrapper"></div>
  <div  class="swiper-button-prev"><i class="ri-arrow-left-s-line"></i></div>
  <div class="swiper-button-next"><i class="ri-arrow-right-s-line"></i></div>
  <div class="swiper-pagination"></div>
</div>
</div>

  <!-- End Slider -->

  <!-- Start Offers -->


<div class="container">
  <div class="special-heading"><span>offers</span></div>
  <div class="slider-for-offers swiper">
    <div class="slides Offers_slide swiper-wrapper">
  </div>
  <div class="swiper-button-prev"><i class="ri-arrow-left-s-line"></i></div>
  <div class="swiper-button-next"><i class="ri-arrow-right-s-line"></i></div>
 </div>
</div>
<!-- End Offers -->



<!-- start categories -->
 <div class="category-one">
 <div class="container">
       <div class="special-heading"><span>cheese & vegetables</span></div>
 <div class="products-card swiper">
 <div class="products-grid_1 swiper-wrapper">
    </div>
     <div  class="swiper-button-prev"><i class="ri-arrow-left-s-line"></i></div>
     <div class="swiper-button-next"><i class="ri-arrow-right-s-line"></i></div>
   </div>
  </div>
</div>
<div class="category-two">
 <div class="container">
       <div class="special-heading">
  <span>chicken</span>
</div>
<div class="products-card swiper">
 <div class="products-grid_2 swiper-wrapper">
    </div>
    <div  class="swiper-button-prev"><i class="ri-arrow-left-s-line"></i></div>
     <div class="swiper-button-next"><i class="ri-arrow-right-s-line"></i></div>
  </div>
  </div>
</div>
<!-- end categories -->
 </main>
        


<%- include("parts/footer.ejs") %>