<%- include("parts/head.ejs") %>
<!-- <link rel="stylesheet" href="/css/product-page.css"> -->
<%- include("parts/navbar.ejs") %>

    <div class="my-account sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
             Menu
        </div>    
        <div class="content-of-sub-pages">
     <a href="index"><span>Home / </span></a>
     <a href="menu"><span>menu</span></a>
     <a href="#"><span>APPETIZERS</span></a>
     <a href="#"><span>DESSERTS</span></a>
     <a href="#"><span>DRINKS</span></a>
     <a href="#"><span>HALF AND HALF</span></a>
     <a id="Offers" href="#Offers"><span>OFFERS</span></a>
     <a href="#"><span>PIZZA</span></a>
     <a href="#"><span>SAUCES</span></a>
     <a href="#"><span>YANKEE</span></a>
</div>
 </div>
 <div class="category-one">
 <div class="container">
 <div class="products-card">
 <div class="products-grid_1">
    </div>
   </div>
  </div>
</div>

 <script src="/js/offers.js"></script>
<%- include("parts/footer.ejs") %>