<%- include("parts/head.ejs") %>
<%- include("parts/navbar.ejs") %>
<main class="up_main">
 <section class="top-product" id="product">
 </section>
</main>
<div class="cart">
  <div class="top_cart">
    <h3>Cart Items : <span class="count_item_cart"></span></h3>
    <span class="close_cart"><i class="ri-close-line"></i></span>
  </div>

  <div class="items_in_cart" id="cart_items">
  </div>
  <div class="bottom_cart">
    <div class="total">
      <p>subtotal</p>
      <p class="price_cart_total"></p>

    </div>
    <div class="button_cart">
      <a href="#" class="btn_cart">Checkout</a>
      <span class="btn_cart trans_bg">shop more</span>
    </div>
  </div>
</div> 


 
 <!-- =====================================  I'm not finished  ======================================= -->

  <div class="category-one">
 <div class="container">
 <div class="products-card">
 <div class="products-grid_1">

  <div class="product">
   <img src="../images/img1.png" alt="Pizza 1">
  <div class="product-info">
        <h3>a.title</h3>
        <div class="points">a.points Points</div>
        <div class="price">a.price EGP</div>
   </div>
    <div class="featured__actions">          
        <button class="mjx"> <a href="">select options</a></button>     
    </div>
    </div>
    <div class="product">
   <img src="../images/img1.png" alt="Pizza 1">
  <div class="product-info">
        <h3>a.title</h3>
        <div class="points">a.points Points</div>
        <div class="price">a.price EGP</div>
   </div>
    <div class="featured__actions">          
        <button class="mjx"> <a href="">select options</a></button>     
    </div>
    </div>
    <div class="product">
   <img src="../images/img1.png" alt="Pizza 1">
  <div class="product-info">
        <h3>a.title</h3>
        <div class="points">a.points Points</div>
        <div class="price">a.price EGP</div>
   </div>
    <div class="featured__actions">          
        <button class="mjx"> <a href="">select options</a></button>     
    </div>
    </div>

    </div>
   </div>
  </div>
</div>
<!-- =====================================  I'm not finished  ======================================= -->

<footer>
     <div class="container">
      <div class="footer-column">
        <span>quick links</span>
        <hr>
        <div class="footer-container">
          <ul class="footer-nav">
            <li><a href="index.html" aria-current="page">home</a></li>
            <li><a href="">offers</a></li>
            <li><a href="">menu</a></li>
            <li><a href="">contact us</a></li>
            <li><a href="public/ContactUs.html">about us</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-column">
          <span>category</span>
        <hr>
            <div class="footer-container">
            <ul class="footer-nav">
            <li><a href="">chicken</a></li>
            <li><a href="">Meat</a></li>
            <li><a href="">cheese & vegetables</a></li>
            <li><a href="">seafood</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-column">
        <span>need help?</span>
        <hr>
         <div class="footer-container">
        <span>Working Hours</span>
        <span><i class="far fa-clock"></i>Delivery : 11:00 AM - 3:00 AM</span>
        <span><i class="far fa-clock"></i> Dine in &amp; Pickup : 11:00 AM - 3:00 AM</span>
       <span><i class="far fa-clock"></i>Mall of Egypt : 11:00 AM - 12:00 AM</span>
        <span><i class="far fa-clock"></i>El Hadika El Dawleya : 2:00 PM - 1:00 AM</span>
        <div class="footer-politics">
          <ul>
            <li><a href="public/Privacy-Policy.html">privacy policy</a></li>
            <li><a href="public/Refund-Policy.html">refund policy</a></li>
            <li><a href="public/Delivery-Policy.html">delivery policy</a></li>
          </ul>
        </div>
      </div>
      </div>

      <div class="footer-column">
      <span>contact us through</span>
          <hr>
          <div class="footer-container1">
          <a href=""><i class="fas fa-phone"></i><span>15667</span></a>
 <div class="social-icons">
  <div class="icon-container">
    <a href="#" class="icon facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <span class="icon-name">Facebook</span>
  </div>

  <div class="icon-container">
    <a href="#" class="icon instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <span class="icon-name">Instagram</span>
  </div>

  <div class="icon-container">
    <a href="#" class="icon tiktok">
      <i class="fab fa-tiktok"></i>
    </a>
    <span class="icon-name">TikTok</span>
  </div>
      </div>
    </div>
</div>
      </div>      
      <p>All rights reserved to Roma Pizza &copy;</p>
    </footer>
    

 <!-- <script src="../js/min.js"></script>
 <script src="../js/api.js"></script> -->
 <script src="/js/product-page.js"></script> 
 <script src="/js/min.js"></script>

</body>
</html>
