<%- include("parts/head.ejs") %>
</head>

<body>

<!-- start Refund Policy page -->
 <div class="refund-policy sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
            Refund Policy
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>Home / </span></a>
    <a href="/refund-policy"><span>Refund Policy</span></a>
</div>
 </div>

<div class="container">
  <p>
    At <span>Foodna</span>, we aim to provide the best food and service.
    If you're not satisfied, we offer the following refund policy:
  </p>

  <ol>
    <li>
      Order Issues
      <p>Refunds are eligible if:</p>
      <ul>
        <li>The order is incorrect (wrong item)</li>
        <li>The food is not delivered</li>
        <li>There's a significant delay (beyond <span>90 minutes</span> without communication)</li>
        <li>The product is not in acceptable condition (must be reported immediately)</li>
      </ul>
    </li>

    <li>
      Conditions for Refund
      <ul>
        <li>You must contact us <span>within 60 minutes</span> of receiving the order.</li>
        <li>Refunds will be done via the <span>original payment method</span> only.</li>
        <li>Refunds will be processed within <span>14 days</span>.</li>
      </ul>
    </li>
  </ol>
</div>

    <div class="button-container">
  <a href="/" class="buy-now-btn">Buy Now</a>
</div>
    </div>

<!-- end Refund Policy page -->

</body>


</html>