<%- include("parts/head.ejs") %>
<%- include("parts/navbar.ejs") %>
</head>
<body>

 <div class="about-us sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
              من نحن
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>الرئيسية</span></a>
    <a href="#"><span>من نحن</span></a>
</div>
 </div>

<div class="container">
  <p><span>فودنا</span> تأسست في عام 2006 بهدف خدمة كل عشاق البيتزا باستخدام أجود وأطازج المكونات فقط.</p>
  <p><span>رسالتنا</span> هي الحفاظ على أعلى معايير الجودة في كل شيء نقوم به — من جودة ومصدر الطعام إلى صحة عملائنا وحماية البيئة.</p>
  <p><span>اليوم</span>، نستمر في تقديم الروح الإيطالية الأصيلة مع وصفات بيتزا جديدة مُعدة بكامل المكونات الطبيعية والعجين الطازج المحضر يومياً.</p>
  <p><span>لطلبات العملاء وخدمة العملاء</span>، اتصل على <a href="#">19999 <i class="fa-solid fa-phone-volume"></i></a>.</p>
  <p><span>ساعات العمل</span>: 11 صباحاً حتى 3 صباحاً <i class="fa-regular fa-clock"></i>.</p>
</div>

    <div class="button-container">
  <a href="" class="buy-now-btn">اطلب الآن</a>
</div>
    </div>

<!-- end about us page -->


<%- include("parts/footer.ejs") %>