<%- include("parts/head.ejs") %>
<%- include("parts/navbar.ejs") %>
</head>
<body>

 <div class="about-us sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
              من نحن
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>الرئيسية</span></a>
    <a href="#"><span>من نحن</span></a>
</div>
 </div>

<div class="container">
  <p><span>Foodna</span> was founded in 2006 with the goal of serving all pizza lovers using only the freshest and highest-quality ingredients.</p>
  <p><span>Our Mission</span> is to maintain the highest standards in everything we do — from the quality and origin of our food to ensuring the health of our customers and the protection of the environment.</p>
  <p><span>Today</span>, we continue to deliver the authentic Italian spirit with our new pizza recipes, prepared with all-natural ingredients and fresh dough made from scratch daily.</p>
  <p><span>For Orders & Customer Service</span>, call <a href="#">19999 <i class="fa-solid fa-phone-volume"></i></a>.</p>
  <p><span>Working Hours</span>: 11 AM – 3 AM <i class="fa-regular fa-clock"></i>.</p>
</div>

    <div class="button-container">
  <a href="" class="buy-now-btn">Buy Now</a>
</div>
    </div>

<!-- end about us page -->


<%- include("parts/footer.ejs") %>