<%- include("parts/head.ejs") %>
</head>

<body>

<!-- start Delivery Policy page -->
 <div class="delivery-policy sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
              سياسة التوصيل
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>الرئيسية</span></a>
    <a href="#"><span>سياسة التوصيل</span></a>
</div>
 </div>

<div class="container">
  <p>في <span>فودنا</span>، نركز على توفير توصيل سريع وطازج ودقيق مباشرة إلى عتبة منزلك.</p>
  <ol>
    <li><span>مناطق التوصيل</span>
      <ul>
        <li>نقوم حالياً بالتوصيل في مناطق مختارة عبر القاهرة. إذا كان موقعك خارج نطاق التوصيل الخاص بنا، سيتم إخطارك عند الدفع.</li>
      </ul>
    </li>
    <li><span>وقت التوصيل المتوقع</span>
      <ul>
        <li>وقت التوصيل القياسي: 60-90 دقيقة.</li>
      </ul>
    </li>
    <li><span>ملاحظة</span>: خلال ساعات الذروة أو ظروف الطقس السيئة، قد يستغرق التوصيل وقتاً أطول.</li>
    <li><span>رسوم التوصيل</span>
      <ul>
        <li>تختلف رسوم التوصيل حسب المسافة وسيتم عرضها قبل إكمال طلبك.</li>
      </ul>
    </li>
  </ol>
</div>

    <div class="button-container">
  <a href="" class="buy-now-btn">اشتري الآن</a>
</div>
    </div>

<!-- end Delivery Policy page -->

</body>


</html>