<%- include("parts/head.ejs") %>
<!-- <link rel="stylesheet" href="/css/product-page.css"> -->
<%- include("parts/navbar.ejs") %>

 <!-- start Menu header-->
    <div class="my-account sub-pages"> <!-- Menu -->
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
             القائمة
        </div> 
        <div class="content-of-sub-pages">
      <a href="../index.html"><span>الرئيسية / </span></a>
     <a href="menu.html"><span>القائمة</span></a>
     <a href="#"><span>المقبلات</span></a>
     <a href="#"><span>الحلويات</span></a>
     <a href="#"><span>المشروبات</span></a>
     <a href="#"><span>نصف ونصف</span></a>
     <a id="Offers" href="offers.html"><span>العروض</span></a>
     <a href="#"><span>البيتزا</span></a>
     <a href="#"><span>الصلصات</span></a>
     <a href="#"><span>يانكي</span></a>
</div>
 </div>
 <!-- end Menu header-->
 <!-- start Menu-->
 <div class="category-one">
 <div class="container">
 <div class="productss">
 <div class="products-grid_1">
    </div>
   </div>
  </div>
</div>
</div>
<!-- end Menu-->
 <!-- جميع المنتجات - عرض شامل لجميع المنتجات -->
 <!-- نهاية قسم جميع المنتجات -->
 <script src="/js/customer.menu.js"></script>
<%- include("parts/footer.ejs") %>