<%- include("parts/head.ejs") %>
</head>

<body>

<!-- start Privacy Policy page -->
 <div class="refund-policy sub-pages">
        <div class="heading-of-sub-pages">
            <div class="head-of-page">
            Privacy Policy
        </div>      
        <div class="content-of-sub-pages">
    <a href="/"><span>الرئيسية</span></a>
    <a href="/privacy-policy"><span>Privacy Policy</span></a>
</div>
 </div>

<div class="container">
  <p>At <span>Roma To Go Pizza</span>, we respect your concerns about privacy. This Privacy Statement ("Statement") describes the personal information practices of Roma Pizza 2 Go with respect to information about our customers and others who visit our restaurants, Web sites and mobile apps, including the types of personal information we collect, how we may use this information, and with whom we may share it.</p>
  <ol>
    <li>Information We Collect
      <ul>
        <li>We may collect personal information about you when you visit one of our restaurants, use Roma Pizza 2 Go Web sites ("Sites"), or use our web or mobile device applications ("Mobile Apps"). We refer to our Sites and Apps collectively as "Online Services".</li>
        <p>The types of personal information we collect may include:</p>
        <li>Transaction information, such as product purchased, price, method of payment and payment details.</li>
        <li>Personal details such as name, postal address, email address, phone number, date of birth and other contact information when you provide that information to us, such as if you register with our Online Services or enter a Roma Pizza 2 Go contest, competition, prize draw, or sweepstakes.</li>
        <li>Account information, such as username, password, and other identifiers or credentials used to access our Online Services or to acquire Roma Pizza 2 Go products and services.</li>
        <li>Other personal information you choose to provide when you interact with Roma Pizza 2 Go.</li>
        <p>The circumstances in which you provide personal information may include when you:</p>
        <li>Purchase products at our restaurants.</li>
        <li>Register to use our Online Services.</li>
        <li>Request to receive marketing or other communications.</li>
        <li>Use our Wi-Fi networks, kiosks or other in-store technologies.</li>
        <li>Enter in one of our contests, competitions, prize draws, or sweepstakes.</li>
        <li>Submit information when providing feedback or Use interactive features of our Online Services.</li>
        <p>Information Collected Through Automated Means:</p>
        <li>We may collect information from your computer system or mobile device through automated technologies when you visit our restaurants or use our Online Services or in-restaurant technologies. These automated technologies may include cookies, local shared objects, and web beacons. Additional information regarding the use of cookies and other automated technologies is provided in this Statement below. The information we collect may include your Internet Protocol (IP) address; computer/mobile device operating system and browser type: type of mobile device; mobile device settings: the unique device identifier (UDID) or mobile equipment identifier (MEID) for your mobile device; device and component serial numbers; advertising identifier (e.g., IDFAs and IFAs) or similar identifier; the referring website or application; the linked sites, third-party websites, applications or social media where you share Online Services content; and activity related to your use of our Online Services such as the pages you visit on our Sites or in our Mobile Apps.</li>
        <li>The providers of third-party apps, tools, widgets and plug-ins on our Online Services, such as Facebook 'Like' buttons, also may use automated means to collect information regarding your interactions with these features. This information is subject to the privacy policies or notices of these providers.</li>
      </ul>
    </li>
        <li>Location Information
          <ul>
            <li>Roma Pizza 2 Go Online Services and in-restaurant technologies may collect precise information about the location of your mobile device or computer using geolocation and location presence awareness technologies such as GPS, Wi-Fi, Bluetooth, or cell tower proximity. For most mobile devices and computer systems, you are able to withdraw your permission for Roma Pizza 2 Go to acquire this information on your location through the device or Web browser settings. If you have questions about how to disable collection of precise location information, we recommend you contact your mobile device service provider, the device manufacturer, or your Web browser provider. Please note that certain Online Services and in-restaurant technologies may not function properly without precise location information. If you would like us to delete location information we have collected that is identifiable to you, please contact us at the email or postal address listed below. Please note that we may be required by law to retain certain information.</li>
          </ul>
        </li>
        <li>Combined Information
          <ul>
            <li>We may combine personal information that we collect with information we receive from other sources, information about your prior transactions with Roma Pizza 2 Go and information that is automatically collected.</li>          </ul>
        </li>
          <li>How We Use the Information We Collect
          <ul>
            <p>Roma Pizza 2 Go may use the personal information we collect to:</p>
            <p>Fulfill your requests or orders and process payments for our products and services:</p>
            <li>If you give us permission, communicate with you about products and services of Roma Pizza 2 Go or our business partners that we believe may interest you;</li>
            <li>Communicate with you about and administer your participation in contests, competitions, prize draws, sweepstakes, offers, promotions or special events;</li>
            <li>Send communications to you about your orders, purchases or accounts with Roma Pizza 2 Go;</li>
            <li>Send information to your contacts if you request us to do so;</li>
            <p>Provide customer support, respond to, and communicate with you about your requests, questions and comments:</p>
            <p>Enable you to post on our blogs and interact with Roma Pizza 2 Go through social media:</p>
            <li>Personalize your experience on our Online Services and in-restaurant technologies, such as providing you with content in which you may be interested, and making navigation to our Sites and Mobile Apps easier;</li>
            <li>Perform data analytics, including consumer research, trend analysis, and financial analysis;</li>
            <li>Operate, evaluate and improve our business, including the development of new products and services; determination of the effectiveness of our sales, marketing and advertising efforts; and analysis and improvement of our products, offers, promotions, and Online Services and other technologies;</li>
            <li>advertising efforts; and analysis and improvement of our products, offers, promotions, and Online Services and other technologies;</li>
            <li>Protect against, identify and prevent fraud and other criminal activity, claims and other liabilities; and Comply with applicable law.</li>
            <li>We use automated information for purposes such as to (i) personalize the visitor experience in our restaurants or on our Online Services, (ii) deliver content (including advertising) tailored to our users’ interests and the manner in which our users browse our Online Services or in-restaurant technologies, and (iii) manage our business. We also use this information to help diagnose technical and service problems; administer our Online Services; identify users of our Online Services; identify a device for fraud prevention purposes, to target advertising or to personalize users’ experiences; and gather demographic information about our users. We also use automated information to determine usage patterns and how we may tailor our Online Services to better meet the needs of our users.</li>
            <li>We may use the information we obtain about you in other ways for which we provide specific notice at the time of collection.</li>
            </ul>
        </li>
        <li>How We Share the Personal Information We Collect Roma Pizza 2 Go does not sell or otherwise share personal information about you, except as described in this Privacy Statement.
          <ul>
        <li>Roma Pizza 2 Go may share personal information within the Saal Invest company. Saal Invest includes Roma Pizza 2 Go , El Deb Crepe, Amazonya, Roma Pizza to Go, its affiliates, subsidiaries, and franchisees. Members of the Saal Invest team that receive this information from Roma Pizza 2 Go are not authorized to use or disclose the information except as provided in this Privacy Statement.</li>
        <li>Roma Pizza 2 Go may share personal information with vendors that provide services to Roma Pizza 2 Go , such as fulfilling orders, providing data processing and other information technology services, administering promotions, contests, prize draws and sweepstakes, conducting research and performing analytics, and personalizing individual Roma Pizza 2 Go experiences. We do not authorize these vendors to use the personal information or to disclose it for any purpose other than to perform services on our behalf.</li>
        <li>Circumstances may arise where, whether for strategic or other business reasons, Roma Pizza 2 Go decides to sell or transfer all or a portion of our business. We may transfer information we have collected and stored, including personal information, to the party or parties involved in the transaction as part of that transaction.</li>
        <li>Roma Pizza 2 Go reserves the right to use or disclose personal information as needed to satisfy any law, regulation or legal request, to protect the integrity of our Online Services and in-restaurant technologies, to bring or defend against legal claims, to protect the rights, interests, safety and security of Saal Invest, Saal Invest employees or franchisees, or members of the public, or in connection with the investigation of fraud, illegal activity or violation of Roma Pizza 2 Go ’s policy.</li>
        <li>Register to use our Online Services.</li>
        <li>Register to use our Online Services.</li>
        </li>
  </ol>

    </div>
    <div class="button-container">
  <a href="/" class="buy-now-btn">Buy Now</a>
</div>
    </div>

<!-- end Privacy Policy page -->

</body>


</html>