<%- include("parts/head.ejs") %>
<%- include("parts/navbar.ejs") %>

<!-- start product page -->
<main class="up_main">
  <div class="product-container">
    <section class="top-product" id="product"></section>
  </div>
</main>
<!-- end product page -->

<!-- ===== Recommended Products Section ===== -->
<div class="recommended-section">
  <div class="container">
    <div class="category-one">
      <div class="container">
        <div class="products-card">
          <div class="products-grid_1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("parts/footer.ejs") %>

<script src="/js/customer.product-page.js"></script>
